<div class="panel panel-primary">
    <div class="panel-heading">      
        <div class="form-inline" role="form">
            <div class="form-group">
                <!--Autor: Lenin - Select desde una array-->
                <select id="idPagination" ng-change="changeAction()" ng-model="pageSize" class="form-control"
                        ng-options="item as item for item in pageSizes"></select> -            
            </div>
            <div class="form-group">
                <input class="form-control" type="search" placeholder="Buscar..." 
                       ng-change="currentPage=0" ng-model="searchComplete"/> -                
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-default" value="Registrar" data-toggle="modal" data-target="#myModalInsert" />
            </div>
            <div class="form-group">
                Pagina Numero: {{currentPage +1}} -
            </div> 
            <div class="form-group">
                Pagina Totales: {{pageNumber}} -
            </div>       
            <div class="form-group">
                Numero de Elementos: {{numberElements}} -
            </div>  
            <div class="form-group">
                Lista Personas
            </div>                              
        </div>
    </div>
    <div class="panel-body">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center"><a ng-click="boolId=ordering(boolId,'id')">Id</a></th>
                        <th class="text-center"><a ng-click="boolFirstName=ordering(boolFirstName,'firstName')">Nombre</a></th>
                        <th class="text-center"><a ng-click="boolLastName=ordering(boolLastName,'lastName')">Apellido</a></th>
                        <th class="text-center"><a ng-click="boolCedula=ordering(boolCedula,'cedula')">Cedula</a></th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr ng-repeat="item in (result=people | orderBy: ord: ordStatus | filter:search)"
                        ng-if="$index >= (currentPage * pageSize) &&  $index<((currentPage+1)*pageSize)">
                        <td>{{item.id}}</td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.cedula}}</td>
                        <td>
                            <!-- Single button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a data-toggle="modal" ng-click="loadPerson(item)" data-target="#myModalDetail">Detalles</a></li>                                    
                                    <li><a data-toggle="modal" ng-click="loadPerson(item)" data-target="#myModalUpdate">Actualizar</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ng-click="deletePerson(item)">Eliminar</a></li>                                    
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="currentPage = 0">Inicio</button>
                <button type="button" class="btn btn-default" ng-click="paging(0)">Anterior</button>
                <button type="button" class="btn btn-default" ng-click="paging(1)">Siguiente</button>
                <button type="button" class="btn btn-default" ng-click="currentPage=pageNumber-1">Fin</button>
            </div>
        </div>        
    </div>    
</div>
<!-- Modal Details-->
<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalles Persona</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtId">Id:</label>
                        <input id="txtId" class="form-control" type="text" ng-model="personDetail.id" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Nombre:</label>
                        <input id="txtFirstName" class="form-control" type="text" ng-model="personDetail.firstName" disabled/>
                    </div>         
                    <div class="form-group">
                        <label for="txtLastName">Apellido:</label>
                        <input id="txtLastName" class="form-control" type="text" ng-model="personDetail.lastName" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="txtCedula">Cadula:</label>
                        <input id="txtCedula" class="form-control" type="text" ng-model="personDetail.cedula" disabled/>
                    </div>           
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Update-->
<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalles Persona</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtId">Id:</label>
                        <input id="txtId" class="form-control" type="text" ng-model="personDetail.id" disabled />
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Nombre:</label>
                        <input id="txtFirstName" class="form-control" type="text" ng-model="personDetail.firstName" />
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Apellido:</label>
                        <input id="txtLastName" class="form-control" type="text" ng-model="personDetail.lastName" />
                    </div>
                    <div class="form-group">
                        <label for="txtCedula">Cadula:</label>
                        <input id="txtCedula" class="form-control" type="text" ng-model="personDetail.cedula" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updatePerson(personDetail)">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Insert-->
<div class="modal fade" id="myModalInsert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalles Persona</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtFirstName">Nombre:</label>
                        <input id="txtFirstName" class="form-control" type="text" ng-model="personInsert.firstName" />
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Apellido:</label>
                        <input id="txtLastName" class="form-control" type="text" ng-model="personInsert.lastName" />
                    </div>
                    <div class="form-group">
                        <label for="txtCedula">Cadula:</label>
                        <input id="txtCedula" class="form-control" type="text" ng-model="personInsert.cedula" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="insertPerson(personInsert)">Save changes</button>
            </div>
        </div>
    </div>
</div>